<div class="text-center" *ngIf="!bandera_inicial">
    <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="col-lg-12 pr-0 pl-0" *ngIf="bandera_inicial">
    <div class="backLink col col-sm-12">
        <a class="col-sm-12" routerLink="/contratacion/precontractual/panel-financiera">Regresar</a>
    </div>
    <div class="formContainer">
        <div class="col col-12 mt-2" *ngIf="mensaje_inicial">
            <div class="alert alert-warning" role="alert">
                {{ mensaje_inicial }}
            </div>
        </div>
        <ng-container *ngIf="presupuesto">
            <div class="form-body">
                <h3 class="subtitle">Datos del Solicitante</h3>
                <div class="form-group">
                    <div class="col col-sm-12 col-md-6 d-inline-block">
                        <label for="nombres_apellidos" class="control-label labelForm">Nombres y Apellidos</label>
                        <input type="text" id="nombres_apellidos" name="nombres_apellidos" class="form-control inputForm" value="{{ nombre_completo }}" disabled>
                    </div>
                    <div class="col col-sm-12 col-md-6 d-inline-block">
                        <label for="cargo" class="control-label labelForm">Cargo</label>
                        <input type="text" id="cargo" name="cargo" class="form-control inputForm" value="{{ presupuesto.solicitud_precontractual.cargo }}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-sm-12 col-md-4 d-inline-block">
                        <label for="area_solicitante" class="control-label labelForm">Área</label>
                        <input type="text" id="area_solicitante" name="area_solicitante" class="form-control inputForm" value="{{ presupuesto.solicitud_precontractual.area_solicitante | global: 'areas_contratacion' }}" disabled>
                    </div>
                    <div class="col col-sm-12 col-md-5 d-inline-block">
                        <label for="correo_electronico" class="control-label labelForm">Correo electrónico</label>
                        <input type="text" id="correo_electronico" name="correo_electronico" class="form-control inputForm" value="{{ presupuesto.solicitud_precontractual.correo_electronico }}" disabled>
                    </div>
                    <div class="col col-sm-12 col-md-3 d-inline-block">
                        <label for="tipo_contrato" class="control-label labelForm">Tipo de contrato</label>
                        <input type="text" id="tipo_contrato" name="tipo_contrato" class="form-control inputForm" value="{{ presupuesto.solicitud_precontractual.tipo_contrato | global: 'tipos_contratos' }}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-12 d-inline-block">
                        <label for="descripcion_contrato" class="control-label labelForm">Descripción</label>
                        <textarea name="descripcion_contrato" id="descripcion_contrato" rows="3" class="form-control inputForm" disabled>{{ presupuesto.solicitud_precontractual.descripcion_solicitud }}</textarea>
                    </div>
                </div>
                <h3 class="subtitle">Descripción Solicitud</h3>
                <div class="form-group">
                    <div class="col col-sm-12">
                        <textarea name="descripcion_solicitud" id="descripcion_solicitud" rows="3" class="form-control inputForm" disabled>{{ presupuesto.descripcion }}</textarea>
                    </div>
                    <div class="col col-12">
                        <button type="button" class="btn btn-waves-effect waves-light btn-rounded btn-sm btn-success mt-2 d-block" (click)="descargarDocumento( presupuesto.documento )" *ngIf="presupuesto.documento">{{ presupuesto.documento }}</button>
                    </div>
                </div>
            </div>

            <form #presupuestoForm="ngForm" (ngSubmit)="onSubmit(presupuestoForm)">
                <h3 class="subtitle">Respuesta</h3>
                <div class="form-body">
                    <div class="form-group">
                        <div class="col col-12">
                            <label for="observaciones" class="control-label labelForm">Observaciones<span class="required">*</span></label>
                            <textarea name="observaciones" id="observaciones" rows="3" minlength="15" maxlength="100" class="form-control inputForm" [ngClass]="{ 'is-invalid': observaciones.invalid }" #observaciones="ngModel" [(ngModel)]="presupuesto.motivo" placeholder="Diligencie la observación que tenga en relación con la solicitud presupuestal"
                                required></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-12">
                        <label for="documento_adjunto" class="control-label labelForm">Documento Adjunto<span class="required">*</span></label>
                        <input type="file" class="form-control inputForm" id="documento_adjunto" accept="application/pdf" (change)="documento_adjunto =  $event.target.files[0]" />
                    </div>
                </div>
                <div class="form-actions ">
                    <div class="col col-sm-12 text-right ">
                        <button type="submit" class="btn btn-success " [disabled]="presupuestoForm.invalid || !documento_adjunto"> <i class="fa fa-check "></i> Enviar</button>
                        <button type="button" class="btn btn-inverse ml-2 " (click)="cancelarSolicitud() ">Cancelar</button>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
</div>