.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: fixed;
}

.login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%;
}

.login-box {
    width: 400px;
    margin: 0 auto;
}