<div class="sidebar">
    <div class="logo_content" id="logo_content">
        <div class="logo">
            <i class="bx bxl-c-plus-plus"></i>
            <div class="logo_name">Contratos CS</div>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav_list">
        <li *ngFor="let item of modulos">
            <a [routerLink]="'/' + item.enlace">
                <i [class]='item.clase'></i>
                <span class="links_name">{{ item.nombre }}</span>
            </a>
            <span class="tooltip-sidebar">{{ item.nombre }}</span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <!-- <img src="profile.jpg" alt=""> -->
                <div class="name_job">
                    <div class="name">{{ usuario.cn }}</div>
                    <div class="job">{{ usuario.description }}</div>
                </div>
            </div>
            <i class="bx bx-log-out" id="log_out" [routerLink]="['/logout', 1]"></i>
        </div>
    </div>
</div>